<section id="about">
    <div class="container mt-5">
        <div class="row">
            <div class="col text-center">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row fs-5 mt-3">
            <div class="col-md-3">
                <p>Tempat tanggal lahir Bogor 04 Agustus 2020</p>
            </div>
            <div class="col-md-6">
                <p>Nama lengkapku Arsya Ghifari Raharja aku biasa dipanggil Arsya, aku paling suka ngeliat diri aku di
                    video yang mama aku rekam, aku sayang sama mama dan papa</p>
            </div>
            <div class="col-md-3">
                <p>Sekarang aku dan mama papaku ngontrak di parung</p>
            </div>
        </div>
    </div>

</section>