<footer class="text-white text-center pb-3 pt-5" style="background-color: rgb(52, 78, 82);">
    <p> Created with <i class="bi bi-heart-fill text-danger"></i> | <a href="https://www.instagram.com/dayuraharja93"
            class="fw-bold text-white">Arsya Ghifari
            Raharja </a></p>
</footer>

</html>