<section id="projects">
    <div class="container">
        <div class="row text-center mt-3 mb-3 pt-3">
            <div class="col">
                <h2>My Gallery</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="img/foto3.jpg" class="card-img-top" alt="Arsya 1">
                    <div class="card-body">
                        <p class="card-text">Arsya video call sama kael</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="img/foto4.jpg" class="card-img-top" alt="Arsya 1">
                    <div class="card-body">
                        <p class="card-text">Arsya dirumah nenek</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="img/foto5.jpg" class="card-img-top" alt="Arsya 1">
                    <div class="card-body">
                        <p class="card-text">Jam 12 malam asrya belum tidur</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="img/foto6.jpg" class="card-img-top" alt="Arsya 1">
                    <div class="card-body">
                        <p class="card-text">Arsya lagi bobo</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="img/foto7.jpg" class="card-img-top" alt="Arsya 1">
                    <div class="card-body">
                        <p class="card-text">Arsya baru bangun tidur sore</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card">
                    <img src="img/foto8.jpg" class="card-img-top" alt="Arsya 1">
                    <div class="card-body">
                        <p class="card-text">Arsya abis mandi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>